#demo{
    border: 2px solid black;
    height:80px;
    font-size: 20px;
    background-color: black;
    color: white;
    gap:20px;
}
#demo1{
    display:flex;
    width:50%;
    height: 100px;
    gap:25px;
}
ol{
    list-style:none;
    display: flex;
    justify-content:end;
    align-content: flex-end;
    gap:25px;
    position:absolute;
    bottom:25px;
    left:18px;
    font-size: 25px;
}
#demo2{
    width:40%;
    position: absolute;
    left:1160px;
    font-size: 25px;
}
img{
    height:240px;
    width:170px;
    position: absolute;
    bottom:590px;
    left:30px;
}
h1{
  margin-left: 230px;
}
#demo3{
    position:absolute;
    left:70px;
}
svg{
    background-color: #454647;
}
#demo4{
    width:700px;
    position: absolute;
    bottom:400px;
    left:400px;
    color:white;
}
h2{
    font-size:55px;
}
#demo5{
    
    width:900px;
    position: absolute;
    bottom:150px;
    left:400px;
    color:white;
}
p{
    font-size: 35px;
}
input{
    height: 50px;
    width: 800px;
    position:absolute;
    bottom: 80px;
    left:400px;
}

#demo7{
    border:2px solid;
    position:absolute;
    bottom: -198px;
    font-size: 25px;
    padding-left: 80px;
    background-color: orangered;
}
#demo8{
    background-color: #454647;
    color: white;
    border:2px solid black;
    height:400px;
    width:100%;
    display: flex;
    gap:100px;
    position: absolute;
    /* left:500px; */
    justify-content: space-evenly;

}
#demo9{
    position:absolute;
    margin-left:100px;
    bottom:250px;
}